In [70]:
#Importing Dependencies
import pandas as pd
import matplotlib.pyplot as plt

#Linear regression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score

#Data
from mega import model_df

In [71]:
#Copying and Viewing our data
df=model_df.copy()

display(df.head())
display(df.tail())

,Gm#,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
0,1,L,D,A,MIL,31,0.258065,8,1,8,0.351351,4,38,0.315789,12,3,11,0.333333,1
1,2,W,N,A,MIL,32,0.281250,9,1,5,0.342857,3,37,0.378378,14,2,11,0.390244,2
2,3,W,N,A,MIL,34,0.264706,9,1,5,0.305556,2,37,0.405405,15,3,8,0.463415,4
3,4,W,D,H,SDP,33,0.212121,7,0,8,0.235294,1,0,0.000000,0,0,0,0.000000,0
4,5,W,N,H,SDP,33,0.242424,8,0,4,0.305556,3,0,0.000000,0,0,0,0.000000,0

,Gm#,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
1808,129,L,N,A,NYY,28,0.178571,5,2,5,0.233333,2,31,0.129032,4,0,9,0.205882,3
1809,130,W,D,A,NYY,29,0.172414,5,1,9,0.294118,4,39,0.333333,13,2,14,0.386364,4
1810,131,L,D,A,NYY,35,0.342857,12,5,6,0.410256,3,29,0.206897,6,0,8,0.323529,5
1811,132,W,N,H,MIA,34,0.264706,9,0,8,0.324324,3,28,0.214286,6,1,11,0.312500,4
1812,133,L,N,H,MIA,35,0.342857,12,2,5,0.428571,6,34,0.382353,13,4,8,0.405405,1

In [72]:
#Removing game number, index works just fine.
df=df.drop("Gm#",axis=1) 
display(df.head())
display(df.tail())

,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
0,L,D,A,MIL,31,0.258065,8,1,8,0.351351,4,38,0.315789,12,3,11,0.333333,1
1,W,N,A,MIL,32,0.281250,9,1,5,0.342857,3,37,0.378378,14,2,11,0.390244,2
2,W,N,A,MIL,34,0.264706,9,1,5,0.305556,2,37,0.405405,15,3,8,0.463415,4
3,W,D,H,SDP,33,0.212121,7,0,8,0.235294,1,0,0.000000,0,0,0,0.000000,0
4,W,N,H,SDP,33,0.242424,8,0,4,0.305556,3,0,0.000000,0,0,0,0.000000,0

,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
1808,L,N,A,NYY,28,0.178571,5,2,5,0.233333,2,31,0.129032,4,0,9,0.205882,3
1809,W,D,A,NYY,29,0.172414,5,1,9,0.294118,4,39,0.333333,13,2,14,0.386364,4
1810,L,D,A,NYY,35,0.342857,12,5,6,0.410256,3,29,0.206897,6,0,8,0.323529,5
1811,W,N,H,MIA,34,0.264706,9,0,8,0.324324,3,28,0.214286,6,1,11,0.312500,4
1812,L,N,H,MIA,35,0.342857,12,2,5,0.428571,6,34,0.382353,13,4,8,0.405405,1

## Going Through Linear and Logistic Regression Models

### Linear

In [73]:
#The first step is getting the already preworked data into a useable format. 
#This includes the binary values and the categorical.

#Converting the binary columns with dummies.
dummies= pd.get_dummies(df[['W/L', 'D/N', 'H/A']], drop_first=True).astype(int)
df[['W/L', 'D/N', 'H/A']]=dummies[["W/L_W","D/N_N","H/A_H"]]

df.head()

,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
0,0,0,0,MIL,31,0.258065,8,1,8,0.351351,4,38,0.315789,12,3,11,0.333333,1
1,1,1,0,MIL,32,0.281250,9,1,5,0.342857,3,37,0.378378,14,2,11,0.390244,2
2,1,1,0,MIL,34,0.264706,9,1,5,0.305556,2,37,0.405405,15,3,8,0.463415,4
3,1,0,1,SDP,33,0.212121,7,0,8,0.235294,1,0,0.000000,0,0,0,0.000000,0
4,1,1,1,SDP,33,0.242424,8,0,4,0.305556,3,0,0.000000,0,0,0,0.000000,0

In [74]:
#Now to convert the opponent column into values.

#Getting the label encoder
encoder=LabelEncoder()
#Fit and transform the categorical column
df['Opp'] = encoder.fit_transform(df['Opp'])
df.head()

,W/L,D/N,H/A,Opp,COL_at_bats,COL_ba,COL_hits,COL_hr,COL_kk,COL_obp,COL_walks,Opp_at_bats,Opp_ba,Opp_hits,OPP_HR_Column,OPP_kk,Opp_obp,Opp_walks
0,0,0,0,14,31,0.258065,8,1,8,0.351351,4,38,0.315789,12,3,11,0.333333,1
1,1,1,0,14,32,0.281250,9,1,5,0.342857,3,37,0.378378,14,2,11,0.390244,2
2,1,1,0,14,34,0.264706,9,1,5,0.305556,2,37,0.405405,15,3,8,0.463415,4
3,1,0,1,21,33,0.212121,7,0,8,0.235294,1,0,0.000000,0,0,0,0.000000,0
4,1,1,1,21,33,0.242424,8,0,4,0.305556,3,0,0.000000,0,0,0,0.000000,0

In [75]:
#Scaling the data.

#Listing the columns to scale
column_list = df.columns.tolist()
categorical_cols={"W/L","D/N","H/A","Opp"}
continuous_cols=list(set(column_list) - categorical_cols)
continuous_cols

['COL_walks',
 'Opp_walks',
 'COL_kk',
 'OPP_HR_Column',
 'COL_ba',
 'COL_obp',
 'Opp_obp',
 'COL_hits',
 'COL_hr',
 'Opp_at_bats',
 'OPP_kk',
 'Opp_ba',
 'Opp_hits',
 'COL_at_bats']

In [76]:
#Making sure any non numeric data gets converted to nans.
df[continuous_cols] = df[continuous_cols].apply(pd.to_numeric, errors='coerce')

In [77]:
#Getting the scaler ready
scaler=StandardScaler()

#Fit and transform
scaled_continuous=scaler.fit_transform(df[continuous_cols])
scaled_continuous_df=pd.DataFrame(scaled_continuous,columns=[continuous_cols],index=df.index)
scaled_continuous_df.head()

,COL_walks,Opp_walks,COL_kk,OPP_HR_Column,COL_ba,COL_obp,Opp_obp,COL_hits,COL_hr,Opp_at_bats,OPP_kk,Opp_ba,Opp_hits,COL_at_bats
0,0.413743,-0.312136,0.237597,2.241158,-0.239760,0.082325,0.822779,-0.379270,-0.179855,1.121061,1.213522,1.078636,1.295227,-0.480608
1,-0.112757,0.215932,-0.846762,1.276253,0.038864,-0.018554,1.152612,-0.103366,-0.179855,1.060209,1.213522,1.504695,1.681171,-0.241669
2,-0.639257,1.272069,-0.846762,2.241158,-0.159950,-0.461556,1.576684,-0.103366,-0.179855,1.060209,0.593595,1.688674,1.874142,0.236210
3,-1.165757,-0.840205,0.237597,-0.653556,-0.791870,-1.295998,-1.109101,-0.655174,-1.057087,-1.191332,-1.059544,-1.071023,-1.020435,-0.002729
4,-0.112757,-0.840205,-1.208215,-0.653556,-0.427712,-0.461556,-1.109101,-0.379270,-1.057087,-1.191332,-1.059544,-1.071023,-1.020435,-0.002729

In [78]:
#Putting the pieces back together.

#Removing old continous columns
df=df.drop(columns=continuous_cols)
#Concatnating into one df
final_df=pd.concat([df,scaled_continuous_df],axis=1)

display(final_df.head())
display(final_df.tail())

,W/L,D/N,H/A,Opp,"(COL_walks,)","(Opp_walks,)","(COL_kk,)","(OPP_HR_Column,)","(COL_ba,)","(COL_obp,)","(Opp_obp,)","(COL_hits,)","(COL_hr,)","(Opp_at_bats,)","(OPP_kk,)","(Opp_ba,)","(Opp_hits,)","(COL_at_bats,)"
0,0,0,0,14,0.413743,-0.312136,0.237597,2.241158,-0.239760,0.082325,0.822779,-0.379270,-0.179855,1.121061,1.213522,1.078636,1.295227,-0.480608
1,1,1,0,14,-0.112757,0.215932,-0.846762,1.276253,0.038864,-0.018554,1.152612,-0.103366,-0.179855,1.060209,1.213522,1.504695,1.681171,-0.241669
2,1,1,0,14,-0.639257,1.272069,-0.846762,2.241158,-0.159950,-0.461556,1.576684,-0.103366,-0.179855,1.060209,0.593595,1.688674,1.874142,0.236210
3,1,0,1,21,-1.165757,-0.840205,0.237597,-0.653556,-0.791870,-1.295998,-1.109101,-0.655174,-1.057087,-1.191332,-1.059544,-1.071023,-1.020435,-0.002729
4,1,1,1,21,-0.112757,-0.840205,-1.208215,-0.653556,-0.427712,-0.461556,-1.109101,-0.379270,-1.057087,-1.191332,-1.059544,-1.071023,-1.020435,-0.002729

,W/L,D/N,H/A,Opp,"(COL_walks,)","(Opp_walks,)","(COL_kk,)","(OPP_HR_Column,)","(COL_ba,)","(COL_obp,)","(Opp_obp,)","(COL_hits,)","(COL_hr,)","(Opp_at_bats,)","(OPP_kk,)","(Opp_ba,)","(Opp_hits,)","(COL_at_bats,)"
1808,0,1,0,17,-0.639257,0.744000,-0.846762,-0.653556,-1.195044,-1.319284,0.084119,-1.206982,0.697377,0.695094,0.800237,-0.192668,-0.248548,-1.197426
1809,1,0,0,17,0.413743,1.272069,0.599050,1.276253,-1.269041,-0.597396,1.130124,-1.206982,-0.179855,1.181914,1.833449,1.198061,1.488199,-0.958487
1810,0,0,0,17,-0.112757,1.800137,-0.485309,-0.653556,0.779209,0.781895,0.765959,0.724347,3.329074,0.573389,0.593595,0.337374,0.137396,0.475150
1811,1,1,1,13,-0.112757,1.272069,0.237597,0.311349,-0.159950,-0.238654,0.702037,-0.103366,-1.057087,0.512537,1.213522,0.387674,0.137396,0.236210
1812,0,1,1,13,1.466743,-0.312136,-0.846762,3.206063,0.779209,0.999409,1.240483,0.724347,0.697377,0.877651,0.593595,1.531750,1.488199,0.475150

In [ ]:
#Now that the data is cleaned up we can train test split.
X=final_df.drop(columns="W/L")
y=final_df["W/L"]
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=69)