In [1]:
import pandas as pd
from mega import mega_df
from functions import team_batting_avg

In [2]:
all_seasons = mega_df.copy()
all_seasons

      Gm#              Date   Tm  ... Orig. Scheduled  Year Formatted_Date
0       1      Monday Apr 1  COL  ...             NaN  2013     2013-04-01
1       2     Tuesday Apr 2  COL  ...             NaN  2013     2013-04-02
2       3   Wednesday Apr 3  COL  ...             NaN  2013     2013-04-03
3       4      Friday Apr 5  COL  ...             NaN  2013     2013-04-05
4       5    Saturday Apr 6  COL  ...             NaN  2013     2013-04-06
...   ...               ...  ...  ...             ...   ...            ...
1837  158  Wednesday Sep 25  COL  ...             NaN  2024     2013-09-25
1838  159   Thursday Sep 26  COL  ...             NaN  2024     2013-09-26
1839  160     Friday Sep 27  COL  ...             NaN  2024     2013-09-27
1840  161   Saturday Sep 28  COL  ...             NaN  2024     2013-09-28
1841  162     Sunday Sep 29  COL  ...             NaN  2024     2013-09-29

[1842 rows x 23 columns]

take out 29 rows of unplayed games for training data
look for more statistical feature data, who played each game 
remove all data leakage rows (most)

https://www.fangraphs.com/teams/rockies/player-usage/defensive-lineup

python resource:
https://github.com/jldbc/pybaseball

In [ ]:
all_seasons['COL_ba'] = all_seasons.apply(lambda row: team_batting_avg(row['Tm'], row['Formatted_Date']), axis=1)

all_seasons.head()