In [1]:
import pandas as pd

In [19]:
# Grabbing player data 
player_df=pd.read_csv("../data/Player_database_2024.csv")

player_df=player_df.rename(columns={'MLBAMID':'player_id','FanGraphsID':'IDfg'})
player_df.head()

,#,Name,player_id,RazzballID,IDfg,NFBCID,FantraxID,Team,STD_POS,YAHOO_POS,Last,First,Lastv2,Firstv2
0,1,Adam Ottavino,493603,1247,1247,7037,*01sgi*,NYM,RP,RP,Ottavino,Adam,Ottavino,Adam
1,2,Matt Moore,519043,1890,1890,8029,*01fug*,LAA,RP,RP,Moore,Matt,Moore,Matt
2,3,Clayton Kershaw,477132,2036,2036,7150,*005ih*,LAD,SP,SP,Kershaw,Clayton,Kershaw,Clayton
3,4,David Peralta,444482,2136,2136,8801,*03d1m*,SD,OF,OF,Peralta,David,Peralta,David
4,5,Carlos Santana,467793,2396,2396,7514,*01cfr*,MIN,1B,1B,Santana,Carlos,Santana,Carlos

In [20]:
from pybaseball import batting_stats

In [21]:
# Get batting stats
stats_df = batting_stats(2024)
stats_df.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,15640,2024,Aaron Judge,NYY,32,158,559,704,180,85,...,117.5,238,0.609,391,0.146,0.267,0.315,0.742,0.484,11.3
3,25764,2024,Bobby Witt Jr.,KCR,24,161,636,709,211,123,...,116.9,259,0.481,538,0.138,0.236,0.321,0.594,0.413,10.0
1,19755,2024,Shohei Ohtani,LAD,29,159,636,731,197,98,...,119.2,287,0.595,482,0.144,0.269,0.320,0.678,0.448,9.0
2,20123,2024,Juan Soto,NYY,25,157,576,713,166,90,...,115.7,262,0.568,461,0.189,0.263,0.319,0.658,0.463,8.2
9,26289,2024,Gunnar Henderson,BAL,23,159,630,719,177,102,...,113.1,256,0.539,475,0.167,0.265,0.289,0.505,0.379,7.7